@CHARSET "UTF-8";

@font-face {
	font-family: 'GmarketLight';
	src: url(../font/GmarketSansTTFLight.ttf) format('truetype');
}
@font-face {
	font-family: 'GmarketMiddle';
	src: url(../font/GmarketSansTTFMedium.ttf) format('truetype');
}
@font-face {
	font-family: 'GmarketBold';
	src: url(../font/GmarketSansTTFBold.ttf) format('truetype');
}

body {
	font-family: GmarketMiddle;
}
input, select{
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom:2px solid black;
}
.phonevideo {
    width: 30%;
}
.loginboxWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column-reverse;
}
.title {
  position: relative;
  padding: 1rem 0.5rem;
  text-align: center;
  font-family: GmarketBold;
  font-size: 30px;
}
.title::after {
  position: absolute;
  bottom: 0px;
  left: 0px;
  content: '';
  width: 100%;
  height: 6px;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(right, #00b0ff 0%, #00e676 100%);
  background-image: linear-gradient(to left, #00b0ff 0%, #00e676 100%);
}


.loginbox {
	height: 45%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	border-radius: 15px;
}

.bluef {
	color: blue;
	cursor: pointer;
}

.btncontainer {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	margin: 0 auto;
}

.loginbtn {
	flex: 1 1 auto;
	margin: 8px;
	padding: 5px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;
	box-shadow: 0 0 20px #eee;
	border-radius: 10px;
	opacity: 0.2;
}


.loginbtn:hover {
	background-position: right center;
}

.btn-4 {
	background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
}
.joinContent{
	font-family: GmarketMiddle;
}
.findIDBtn{
	text-align: center;
	cursor: pointer;
    font-size: 1px;
    color: grey;
    margin-bottom: -5px;
    font-family: GmarketMiddle;
}